.slides.template-gautema > article:not(.nobackground) {
        background-color: #E0E4CC;  
		padding-top:50px;
		font-family:Impact, Arial;
		
      }

	p + iframe {
	  margin-top: 40px;
	}

.slides.template-gautema .source{ left: 200px;}

.slides.layout-faux > article{
	padding-left:80px;
}