<!DOCTYPE html>
<html>
	<head>
        <link href="content/css/main.css" media="screen" rel="stylesheet" type="text/css" />
		<script src="content/js/jquery.js"></script>
		<script src="content/js/main.js"></script>
		<title>{{ page.title }}</title> 
	</head>

	<body>
		<h3 id="title">{{ page.title }}</h3>
		<div id="content">
			{{content}}	
		</div>
	    <div id="linkbox">
			twitter: <a href="http://twitter.com/gautema">@gautema</a> <br /> 
			github: <a href="http://github.com/gautema">github.com/gautema</a> <br />
			linkedin: <a href="http://www.linkedin.com/in/gautem">linkedin.com/in/gautem</a> <br />
			msn: <a href="msn:gaute.magnussen@gmail.com">gaute.magnussen@gmail.com</a> <br />
			e-mail: <a href="mailto:gaute@gautema.com">gaute@gautema.com</a>
		</div>

	</body>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-23338739-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</html>