body {
	margin:50px 0px; padding:0px;
	background-color: #666;
	font-family: Verdana;
	color: #333;
}

.content
{
		width:640px;
		height:480px;
		border-radius: 25px;
		margin:0px auto;
		border:2px solid #333;
		background:#fff url('../images/everest.jpg') no-repeat right top;
		text-align:left;
}

h3
{
	margin: 0px;
}

a
{
	color: #015384;
	text-decoration: none;
}

#title
{
	text-align:center;
	margin-left: 250px;
}

#textbox
{
	padding: 20px 0 0 50px;
	width:300px;
}