body {
	margin:50px 0px; padding:0px;
	background-color: #666;
	font-family: Verdana;
	color: #333;
}

.header
{
	width:640px;
	height:480px;
	border-radius: 15px;
	margin:0px auto;
	border:2px solid #333;
	text-align:left;
	z-index: 10
	position: relative;
	background:#fff url('../images/everest.jpg') no-repeat right top;
}

#content
{
	width:640px;
	height:20px;
	opacity: 0;
	border-radius: 15px;
	margin:0px auto;
	margin-top: -20px;
	border:2px solid #333;
	text-align:left;
	z-index:-1;
	position: relative;
	background:#333 url('../images/everest_bw.jpg') no-repeat right bottom;
	color: #fff;
	text-shadow: #000 1px 1px 1px;
	text-align:center;
}

.body_color
{
	background-color:#496F87;
}

h3
{
	margin: 0px;
}

a
{
	color: #015384;
	text-decoration: none;
}

p
{
	padding: 10px;
}

#title
{
	text-align:center;
	margin-left: 250px;
}

#textbox
{
	padding: 20px 0 0 50px;
	width:300px;
}