body {
	margin:10px 0px; padding:0px;
	background-color: #666;
	font-family: Arial, Helvetica;
	color: #fff;
	text-shadow: #000 1px 1px 1px;
}

#title
{
	width:640px;
	margin:10px auto;
	padding: 20px;
	text-align:right;
	background: #333;
}

#textbox
{
	width:640px;
	padding: 20px;
	margin: 0 auto;
	margin-bottom: 10px;
	background: #333;
}
.header
{
	width:640px;
	height:480px;
	margin:0px auto;
	border:20px solid #333;
	border-bottom: 0;
	text-align:left;
	z-index: 10
	position: relative;
	background:#fff url('../images/everest.jpg') no-repeat right top;
	cursor: pointer;
}

#content
{
	width:640px;
	height:20px;
	margin:0px auto;
	margin-top: -40px;
	border:20px solid #333;
	text-align:left;
	z-index:-1;
	position: relative;
	background:#333 url('../images/everest_bw.jpg') no-repeat right bottom;
	text-align:center;
	margin-bottom: 10px;
}

#content_text
{
	opacity: 0;
}

.body_color
{
	background-color:#496F87;
}

a
{
	color: #015384;
	text-decoration: none;
}

p
{
	padding: 10px;
}



